.mdui-prose pre code {
  display: block;
}

.matecho-comment-parent {
  margin-bottom: 0.5rem;
}

.matecho-comment-parent:last-child {
  margin-bottom: 0;
}

.matecho-comment-wrapper .mdui-prose p {
  margin-top: 0;
  margin-bottom: 0;
}

.matecho-comment-form .matecho-comment-cancel-btn {
  display: none;
}

.matecho-comment-form.matecho-comment-form__reply .matecho-comment-cancel-btn {
  display: inline-block;
}

.matecho-form-loading-mask {
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.matecho-form__loading .matecho-form-loading-mask {
  opacity: 1;
  pointer-events: initial;
}

.matecho-form__loading > :not(.matecho-form-loading-mask) {
  opacity: 0.3;
  pointer-events: none;
}
