.mdui-prose pre code {
  display: block;
}

.matecho-comment-parent {
  margin-bottom: 0.5rem;
}

.matecho-comment-parent:last-child {
  margin-bottom: 0;
}

.matecho-comment-wrapper .mdui-prose p {
  margin-top: 0;
  margin-bottom: 0;
}

.matecho-comment-form .matecho-comment-cancel-btn {
  display: none;
}

.matecho-comment-form.matecho-comment-form__reply .matecho-comment-cancel-btn {
  display: inline-block;
}

.matecho-comment-form__loading .matecho-comment-loading-mask {
  opacity: 1;
  pointer-events: initial;
}

.matecho-comment-form__loading form {
  opacity: 0.3;
  pointer-events: none;
}

.matecho-article-nav {
  height: calc(100vh - 56px);
  overflow: auto;
}

.matecho-article-nav.matecho-nav-visible {
  display: block;
}

@media (width >= 840px) {
  .matecho-article-wrapper-with-nav {
    margin-right: 256px;
  }

  .matecho-article-wrapper-with-nav .matecho-article-nav {
    display: block;
  }
}

@media (width >= 1352px) {
  .matecho-article-wrapper-with-nav {
    margin-right: auto;
  }
}

.matecho-nav-top {
  height: 32px;
  padding-top: 3px;
}

.matecho-nav-top::part(container),
.matecho-nav-sub::part(container) {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  white-space: nowrap;
}

.matecho-nav-top::part(headline),
.matecho-nav-sub::part(headline) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.matecho-nav-sub::part(headline) {
  font-size: 0.75rem;
}

.matecho-nav-sub {
  height: 32px;
  padding-left: 16px;
  font-size: 12px;
  padding-top: 4px;
}

.with-fancybox .fancybox__container {
  z-index: 99999;
}
